Source: gnome-inm-forecast
Section: x11
Priority: optional
Maintainer: Gustavo Iñiguez Goya <ga@kutxa.homeunix.org>
Build-Depends: debhelper (>= 5), autotools-dev, intltool, gconf2, libglib2.0-dev (>= 2.8), libpanel-applet2-dev, libgtk2.0-dev (>= 2.8)
Standards-Version: 3.7.2

Package: gnome-inm-forecast
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GNOME INM spanish forecast applet
 An spanish forecast applet for the GNOME desktop
