Source: gnome-inm-forecast
Section: x11
Priority: optional
Maintainer: Gustavo Iñiguez Goya <ga@kutxa.homeunix.org>
Build-Depends: debhelper (>= 5), autotools-dev, intltool, gconf2, libglib2.0-dev (>= 2.8), libpanel-applet2-dev, libgtk2.0-dev (>= 2.8)
Standards-Version: 3.7.3
Homepage: http://kutxa.homeunix.org/trac/gnome-inm-forecast

Package: gnome-inm-forecast
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Spanish weather forecast applet for the GNOME desktop
 It displays the Spanish weather forecast on the GNOME panel, getting the 
 information from the Spanish Meteorological Agency (http://www.aemet.es).
 Features:
  Up to 7 days of meteorological information, including maximum and 
   minimum temperatures, rainfall probability, wind direction, snow 
   level and general weather state.
  Snowfalls reports for the Pyrenees.
  Intuitive city search just by typing the firsts characters.
  Weather reports for the following days.
  Maximum and minimum temperatures maps for the following day.
  Spanish weather forecast image.
  Satellite radar images of the weather evolution.
